@import "tailwindcss";

@keyframes close {
  0% {
    width:27%
  }
  100% {
    width:0%;
  }
}

@keyframes growWidth {
  0% {
    width: 0;
  }
  100% {
    width: 30%; /* Match the w-150 Tailwind class */
  }
}

@keyframes growWidthReverse {
  0% {
    width: 30%; /* Start at full width */
  }
  
  100% {
    width: 0; /* Fully close */

  }
}

.animate-close {
    animation: close 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  
    overflow: hidden;
}

.animate-grow-width {
  animation: growWidth 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  
  overflow: hidden; /* Prevent content overflow during animation */
}

.animate-grow-width-reverse {
  animation: growWidthReverse 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  overflow: hidden; /* Prevent content overflow during animation */
}
